{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class = "card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/mahbubeh.jpg' %}">
                    <hr>
                    <h4>Hi i'm mahbubeh</h4>
                    <p>I love coding , doing research and collaborating</p>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class = "card card-body  h-100 border-info">
                    <h5>My first experience in django</h5>
                    <hr>
                    <p >I'm a web developer and since 2 month's ago started learning django . 
                    I've visited 3 or 4 channels to learn it by different teachers and different 
                    projects.
                    </p>
                    <p> 
                    The thing is it uses inheriting which causes less coding in frontend. </p>
                    <p >
                    In this experience i'v learnt to start from small projects in order to learn better and step by step. 
                    As a backend course django was something geurgeous and i do recommend you to learn by yourself or different classes.Any questions you have you can contact me in :
                    </p>
                    <ul class= "social-links">
                        <li><img class="social" src="{% static 'images/instagram.jpg' %}" ></li>
                        <li><img class="social" src="{% static 'images/telegram.png' %}"></li>
                        <li><img class="social" src="{% static 'images/whatsapp.png' %}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class = "card card-body  h-100">
                    <h5 >My experience as a web developer</h5>
                    <hr>
                    <p >I'm a web developer and since 2 month's ago started learning django . 
                        I've visited 3 or 4 channels to learn it by different teachers and different 
                        projects.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class = "card card-body h-100">
                    <h5 >what I know</h5>
                    <hr>
                    <p>
                        Html5,css3,django 3, javascript, mysql, hive, bootstrap4, python 3, and some other things that are not related to web developer.
                        Like elasticStack, linux, hadoop and mapreduce. 
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class = "card card-body h-100">
                    <h5 >what I know</h5>
                    <hr>
                    <p>
                        Html5,css3,django 3, javascript, mysql, hive, bootstrap4, python 3, and some other things that are not related to web developer.
                        Like elasticStack, linux, hadoop and mapreduce. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class = "card card-body h-100">
                   <h5 >what I know</h5>
                    <hr>
                    <p>
                        Html5,css3,django 3, javascript, mysql, hive, bootstrap4, python 3, and some other things that are not related to web developer.
                        Like elasticStack, linux, hadoop and mapreduce. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
   
</body>
</html>